body {
  font: 16px Arial;
  background: #F4F3F2;
}

input[type='url'] {
  font-size: 18px;
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-right: 0;
  outline: none;
}

ul {
  margin: 0;
  padding: 20px;
  list-style: none;
}

a {
  color: #515151;
  text-decoration: none;
  display: block;
  padding: 20px;
}

li {
  background: #fff;
  margin-bottom: 5px;
}

form {
  padding: 20px;
  display: flex;
}

button {
  background: #00C298;
  border: 0;
  color: #fff;
  padding: 0 20px;
  font-size: 18px;
  cursor: pointer;
}